<!-- <html>

<head>

    <title>
        <%= title%>
    </title>
</head>

<body>
    <%- include('_header'); %> -->

<link rel="stylesheet" href="/css/user_profile.css">
<img src="<%= user.avatar%>" alt="<%= user.name%>" width="100">

<h1>
    Codeial / profile page
</h1>


<!-- <p>Name: <%= user.name %>
</p>
<p>Email: <%= user.email %>
</p> -->

<!-- <p>Name: <%= profile_user.name %>
</p>
<p>Email: <%= profile_user.email %>
</p> -->

<% if(user.id==profile_user.id){%>
    <!-- if user match then shoe the form -->
    <form action="/users/update/<%=profile_user.id%>" enctype="multipart/form-data" method="POST">
        <input type="text" name="name" placeholder="Your Name" value="<%=profile_user.name%>" required>
        <input type="email" name="email" placeholder="Your Email" value="<%=profile_user.email%>" required>
        
        <input type="file" name="avatar" placeholder="profile picture">
        <input type="submit" value="Update">

    </form>
    <p>Name: <%= profile_user.name %>
    </p>
    <p>Email: <%= profile_user.email %>
    </p>

    <%}else{%>
        <!-- else show only the profile info -->
        <p>Name: <%= profile_user.name %>
        </p>
        <p>Email: <%= profile_user.email %>
        </p>
        <%}%>


            <!-- <form action="/users/sign-out" method="POST">
    <input type="submit" value="Sign Out">
</form> -->

            <!-- <%- include('_footer'); %>
</body>

</html> -->